html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-image: url("../images/adventures.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
@keyframes bgChangeDarker {
  to {
    background-color: #2e3842;
  }
}
@keyframes bgChangeRed {
  to {
    background-color: #4285f4;
  }
}
@keyframes bgChangeLighter {
  to {
    background-color: #f38879;
  }
}
@keyframes menuSlide {
  from {
    width: 1px;
  }
  to {
    background-color: #2e3842;
    width: 15rem;
  }
}
@keyframes opacityReveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes headerBgReveal {
  to {
    /* background-color: blue; */
    height: 50px;
    background-color: rgba(39, 31, 31, 0.685);
    opacity: 1;
  }
}
#header {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  z-index: 10;
}
#header h1 {
  opacity: 0;
  margin: 1rem;
  align-self: flex-start;
}
#header a {
  text-decoration: none;
  color: #000;
  color: #fcfcfc;
  font-size: 1rem;
  font-family: Open Sans, Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 500;
  letter-spacing: 3px;
  text-transform: uppercase;
}
#header nav {
  margin: 1rem;
  z-index: 10;
  position: relative;
  animation-name: opacityReveal;
  animation-duration: 5s;
  animation-fill-mode: initial;
}
#header nav .navItems {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
}
#header .menuToggle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 1.6rem;
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  font-family: Open Sans, Arial, "Helvetica Neue", Helvetica, sans-serif;
  letter-spacing: 2px;
  color: #fcfcfc;
}
#header .menuToggle::after {
  background-image: url("/images/icons8-menu.svg");
  background-position: center;
  background-repeat: no-repeat;
  content: '';
  display: inline-block;
  height: 3rem;
  vertical-align: text-bottom;
  width: 3rem;
}
#header .headerReveal {
  animation-name: opacityReveal;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.headerBgReveal {
  animation-name: headerBgReveal;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
.navMenu {
  display: none;
  z-index: 100;
  position: absolute;
  right: 0.1rem;
  top: 0;
  border: 1px solid black;
  background-color: gray;
  border-radius: 3px;
  width: 90rem;
}
.navMenu li {
  margin: 1rem auto;
  padding: 0.1rem;
  width: 80%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navMenu li:hover {
  border-radius: 3px;
  animation-name: bgChangeRed;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}
.navMenu a {
  text-decoration: none;
  color: #000;
  font-family: Open Sans, Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.8rem;
  padding: 0.5rem;
  letter-spacing: 2px;
  color: black;
  margin: 0 auto;
  white-space: nowrap;
}
.navMenu .close {
  cursor: pointer;
  margin: 1rem;
  text-align: right;
}
.menuReveal {
  display: block;
  overflow: hidden;
  animation-name: menuSlide;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
}
.banner-section {
  text-align: center;
}
.banner-section .top-section {
  color: white;
  opacity: 0.6;
  margin-top: 200px;
  width: 100%;
}
.banner-section .top-section .title-text {
  width: 50%;
  margin: 0 auto;
  background-color: black;
}
.banner-section .top-section .title-text h1 {
  font-size: 40px;
}
.banner-section .top-section .title-text p {
  font-size: 25px;
  text-transform: capitalize;
}
.banner-section .sign-up {
  padding: 0.8rem 2rem;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #4285f4;
  color: black;
  border-radius: 3px;
  text-decoration: none;
  font-family: Open Sans, Arial, Helvetica;
}
.banner-section .team-wrapper {
  border: 5px solid #4285f4;
  margin: 0 auto;
  padding: 10px;
  width: 50%;
}
.banner-section .team-wrapper p {
  text-transform: uppercase;
}
.code-section {
  width: 100%;
  text-align: center;
  color: black;
  font-family: Open Sans, Arial, Helvetica;
  background-color: #A0A0A0;
}
.code-section .team-code {
  padding: 10px;
  border: 5px solid #4285f4;
  margin: 0 auto;
  width: 30%;
}
.code-section .line {
  width: 100%;
}
.code-section .line .other {
  width: 40%;
  margin: 0 auto;
}
.code-section .section-img {
  width: 50%;
  margin: 0 auto;
}
.code-section .section-img img {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
@media all and (max-width: 500px) {
  .banner-section {
    text-align: center;
  }
  .banner-section .top-section {
    color: white;
    opacity: 0.6;
    margin-top: 200px;
    width: 100%;
  }
  .banner-section .top-section .title-text {
    width: 50%;
    margin: 0 auto;
    background-color: black;
  }
  .banner-section .top-section .title-text h1 {
    font-size: 40px;
  }
  .banner-section .top-section .title-text p {
    font-size: 25px;
    text-transform: capitalize;
  }
  .banner-section .sign-up {
    padding: 0.8rem 2rem;
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: #4285f4;
    color: black;
    border-radius: 3px;
    text-decoration: none;
    font-family: Open Sans, Arial, Helvetica;
  }
  .banner-section .team-wrapper {
    border: 5px solid #4285f4;
    margin: 0 auto;
    padding: 10px;
    width: 70%;
  }
  .banner-section .team-wrapper p {
    text-transform: uppercase;
  }
}
