// * {
//     margin: 1px; 
//     padding: 1px;
//   }
html {
  
  scroll-behavior: smooth;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  body {
    margin: 0;
    padding: 0;
    background-image:url("../images/adventures.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
 
  @keyframes bgChangeDarker {
    to {
      background-color: #2e3842;
    }
  }
  @keyframes bgChangeRed {
    to {
      background-color:#4285f4;
    }
  }
  @keyframes bgChangeLighter {
    to {
      background-color: #f38879;
    }
  }
  @keyframes menuSlide {
    from {
      width: 1px;
    }
    to {
      background-color: #2e3842;
      width: 15rem;
    }
  }
  @keyframes opacityReveal {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes headerBgReveal {
    to {
      /* background-color: blue; */
      height: 50px;
      background-color: rgba(39, 31, 31, 0.685);
      
      opacity: 1;
    }
  }
  
  
  #header{
    width:100%;
    position:fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    z-index: 10;
    h1 {
      opacity: 0;
      margin: 1rem;
      align-self: flex-start;
    }
    a {
      text-decoration: none;
      color: #000;
      color: #fcfcfc;
      font-size: 1rem;
      font-family: Open Sans, Arial, "Helvetica Neue", Helvetica, sans-serif;
      font-weight: 500;
      letter-spacing: 3px;
      text-transform: uppercase;
    }
    nav {
      margin: 1rem;
      z-index: 10;
      position: relative;
      animation-name: opacityReveal;
      animation-duration: 5s;
      animation-fill-mode: initial;
      .navItems {
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        flex-direction: column;
      }
    }
    .menuToggle {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      font-size: 1.6rem;
      text-decoration: none;
      color: #000;
      text-transform: uppercase;
      font-family: Open Sans, Arial, "Helvetica Neue", Helvetica, sans-serif;
      letter-spacing: 2px;
      color: #fcfcfc;
    }
    .menuToggle::after {
      background-image: url("/images/icons8-menu.svg");
      background-position: center;
      background-repeat: no-repeat;
      content: '';
      display: inline-block;
      height: 3rem;
      vertical-align: text-bottom;
      width: 3rem;
    }
    .headerReveal {
      animation-name: opacityReveal;
      animation-duration: 1s;
      animation-fill-mode: forwards;
    }
  }
  .headerBgReveal {
    animation-name: headerBgReveal;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }
  .navMenu {
    display: none;
    z-index: 100;
    position: absolute;
    right: .1rem;
    top: 0;
    border: 1px solid black;
    background-color: gray;
    border-radius: 3px;
  
    width: 90rem;
    li {
      margin: 1rem auto;
      padding: .1rem;
      width: 80%;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    li:hover {
      border-radius: 3px;
      animation-name: bgChangeRed;
      animation-duration: 0.2s;
      animation-fill-mode: forwards;
    }
    a {
      text-decoration: none;
      color: #000;
      font-family: Open Sans, Arial, "Helvetica Neue", Helvetica, sans-serif;
      font-size: 1.8rem;
      padding: 0.5rem;
      letter-spacing: 2px;
      color: black;
      margin: 0 auto;
      white-space: nowrap;
    }
    .close {
      cursor: pointer;
      margin: 1rem;
      text-align: right;
    }
    
  }
  .menuReveal {
    display: block;
    overflow: hidden;
    animation-name: menuSlide;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
  }
  

  // ul li:hover ul li{
  //     display:block;
  // }
  .banner-section{
      text-align: center;
      
    .top-section{
      color: #4285f4;  
      
      margin-top: 200px;
      width:100%;
      .title-text{
        width: 50%;
        margin: 0 auto;
        // background-color: #4285f4;
        background-color: black;
        opacity: .8;
      h1{
       
          font-size: 40px;
          
            
      }
      p{
        
          font-size: 25px;
          text-transform: capitalize;
          
      }
     
      // .line{
      //   width: 100%;
      //   .other{
      //     width: 50%;
      //     margin: 0 auto;
      //   }
      // }
    }
      

    }
    
    
    
    .sign-up{
      padding: .8rem 2rem;
      font-size: 1.4rem;
      font-weight: 500;
      letter-spacing: 2px;
      text-transform: uppercase;
      background-color: #4285f4;
      color: black;
      border-radius: 3px;
      text-decoration: none;
      font-family: Open Sans, Arial, Helvetica;
    }
    
    
    .more{
      font-size: 20px;
      text-decoration: none;
      color:black;
      font-weight: 900;
      
    }
    
    .more:hover{
      text-decoration:underline;
    }
    .more::after{
      background-image: url(../images/arrow-pointing-to-down.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      content: '';
      display: block;
      height: 1em;
      margin: 0.5rem 0 0 -0.75em;
      position: relative;
      width: 1.5em;
      left: 50%;
      top: .5rem;
      
    }
  }

 

.first-section{
  background-color: #DDDDDD;
  #first-features{
    text-align: center;
    // background-color: #2e3842;
    background-color: white;
    color: black;
    h2{
      color:#4285f4;
      font-family: Open Sans, Arial, "Helvetica Neue", Helvetica, sans-serif;
    }
    p{
      max-width: 350px;
      margin: 0 auto;
      font-family: Open Sans, Arial, "Helvetica Neue", Helvetica, sans-serif;
    }
    
  }
}
.section-img{
  width: 50%;
  margin: 0 auto;
  img{
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }
}
@media screen and (max-width:500px){
  .section-img{
    width: 80%;
    margin: 0 auto;
    img{
      width: 100%;
      text-align: center;
      margin: 0 auto;
    }
  }
}
.second-section{
  background-color: #DDDDDD;
  #second-features{
    text-align: center;
    background-color: #4285f4;
    color: white;
    h2{
      color: black;
      font-family: Open Sans, Arial, "Helvetica Neue", Helvetica, sans-serif;
    }
    p{
      max-width: 350px;
      margin: 0 auto;
      font-family: Open Sans, Arial, "Helvetica Neue", Helvetica, sans-serif;
    }
    
  }
}
.section-img{
  width: 40%;
  margin: 0 auto;
  img{
    width: 100%;
    text-align: center;
    margin: 0 auto;
   
  }
}
@media screen and (max-width:500px){
  .section-img{
    width: 80%;
    margin: 0 auto;
    img{
      width: 100%;
      text-align: center;
      margin: 0 auto;
    }
  }
}
.third-section{
  background-color: #DDDDDD;
  #third-features{
    text-align: center;
    background-color: #2e3842;
    color: white;
    h2{
      color: #4285f4;
      font-family: Open Sans, Arial, "Helvetica Neue", Helvetica, sans-serif;
    }
    p{
      max-width: 350px;
      margin: 0 auto;
      font-family: Open Sans, Arial, "Helvetica Neue", Helvetica, sans-serif;
    }
    .sign-up{
      padding: .8rem 2rem;
      font-size: 1.4rem;
      font-weight: 500;
      letter-spacing: 2px;
      text-transform: uppercase;
      background-color: #4285f4;
      color: #fcfcfc;
      border-radius: 3px;
      text-decoration: none;
      font-family: Open Sans, Arial, Helvetica;
    }
    
  }
}
.section-img{
  width: 40%;
  margin: 0 auto;
  img{
    width: 100%;
    text-align: center;
    margin: 0 auto;
   
  }
}
@media screen and (max-width:500px){
  .section-img{
    width: 80%;
    margin: 0 auto;
    img{
      width: 100%;
      text-align: center;
      margin: 0 auto;
    }
  }
}

.line{
  width: 100%;
  .other{
    width: 40%;
    margin: 0 auto;
  }
}

@media all and (min-width: 1024px) and (max-width: 1280px) {
  .line{
  width: 100%;
  .other{
    width: 40%;
    margin: 0 auto;
  }
}
 }
 
@media all and (min-width: 768px) and (max-width: 1024px) {.line{
  width: 100%;
  .other{
    width: 50%;
    margin: 0 auto;
  }
} }
 
@media all and (min-width: 480px) and (max-width: 768px) {.line{
  width: 100%;
  .other{
    width: 60%;
    margin: 0 auto;
  }
} }
 
@media all and (max-width: 480px) {
  .line{
  width: 100%;
  .other{
    width: 70%;
    margin: 0 auto;
  }
} }





@media all and(max-width: 500px){
  .banner-section{
    text-align: center;
    
  .top-section{
    color: #4285f4;  
    
    margin-top: 200px;
    width:100%;
    .title-text{
      width: 70%;
      margin: 0 auto;
      // background-color: #4285f4;
      background-color: black;
      opacity: .8;
    h1{
     
        font-size: 40px;
        
          
    }
    p{
      
        font-size: 25px;
        text-transform: capitalize;
        
    }
   
    // .line{
    //   width: 100%;
    //   .other{
    //     width: 50%;
    //     margin: 0 auto;
    //   }
    // }
  }
    

  }
  
  
  
  .sign-up{
    padding: .8rem 2rem;
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: #4285f4;
    color: black;
    border-radius: 3px;
    text-decoration: none;
    font-family: Open Sans, Arial, Helvetica;
  }
  
  
  .more{
    font-size: 20px;
    text-decoration: none;
    color:black;
    font-weight: 900;
    
  }
  
  .more:hover{
    text-decoration:underline;
  }
  .more::after{
    background-image: url(../images/arrow-pointing-to-down.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    display: block;
    height: 1em;
    margin: 0.5rem 0 0 -0.75em;
    position: relative;
    width: 1.5em;
    left: 50%;
    top: .5rem;
    
  }
}
}